@import "tailwindcss";

:root {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#0e2340, #232323 80%);
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

@layer utilities {
  .text-10xl {
    font-size: 10rem;
  }
  .text-11xl {
    font-size: 11rem;
  }
  .text-12xl {
    font-size: 12rem;
  }
  .text-13xl {
    font-size: 13rem;
  }
  
  .animate-horizontal-scroll {
    animation: horizontal-scroll linear 16s infinite;
  }
  .animate-horizontal-scroll-2 {
    animation: horizontal-scroll-2 linear 16s infinite;
  }
  
  @keyframes horizontal-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes horizontal-scroll-2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

